/* Global selector */
* {
    margin: 0;
}

header {
    background: "../img/bg-programming.jpg";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px;
}

.profile {

    display: block;
    margin: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.4);
}

body{
    background-color: #eaeaea;
}

section .main-title {
    padding-bottom: 30px;
    background-color: #252A34;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #08D9D6;
    font-size: 35px;
    padding: 14.13px 16px;
    margin-bottom: 10px;
}

section a {
    font-size: 20px;
    text-align: center;
}

.about {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}

section .title,
section .sub-title {
    background-color: #252A34;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #08D9D6;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 6px 7px 7px 12.45px;
}

ul {
    font-size: 15px;
    padding: 18px 25px 10px;
}

section ul {
    list-style-position: inside;
}

li {
    margin-bottom: 10px;
}

li span{
    font-weight: bolder;
}

ul b {
    font-style: italic;

}

.last-ul {
    padding-bottom: 70px;
}

footer {
    background-color: #222831;
    text-align: center;
    padding: 11px;
    font-size: 20px;
}

.footer-text {
    color: #08D9D6;
}

footer i {
    width: 15px;
    height: 20px;
    padding-left: 10px;
    align-items: center;
}
